{{define "addressbelong"}}
    <!DOCTYPE html>
    <html lang="en">

    {{template "html-head" "block size"}}
    <body>
    {{template "navbar"}}

    <div class="container">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Address</label>
                <input type="text" class="form-control" id="address" placeholder="address">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Belong To</label>
                <input type="text" class="form-control" id="belong" placeholder="belong to">
            </div>

            <a class="btn btn-success" id="submit" href="#" role="button">Submit</a>
        </form>

    </div>

    <script>
        $("#submit").click(function(){
            var address = $("#address").val();
            var belong = $("#belong").val();
            if (address && belong){
                $.ajax({
                    url: "/explorer/belongupdate?address="+address+"&belong="+belong+"",
                    type:"GET",
                    dataType: 'JSON',
                    success:function (data) {
                        if(data=="ok"){
                            console.log(data);
                            alert("update success")
                        }else{
                            alert("update failed,please try again")
                        }
                    },
                    error:function (err) {
                       alert("update failed,please try again")
                    }
                })
            }else{
                window.alert("输入内容不能为空");
            }

        });

    </script>

    {{template "footer"}}

    </body>

    </html>
{{ end }}
