{{define "blocksize"}}
<!DOCTYPE html>
<html lang="en">

{{template "html-head" "block size"}}
<body>
    {{template "navbar"}}

    <div class="container">
        <div class="row">
            <div id="chart1" style="width: 80%;height:300px; margin:0 auto;min-width:1000px"></div>
            <div style="width: 80%; margin:0 auto;min-width:1000px;text-align: center;">
                <h4>average blocksize</h4>
            </div>
        </div>
        <div class="row">
            
            <div id="chart2" style="width: 80%;height:300px; margin:0 auto;min-width:1000px"></div>
            <div style="width: 80%;margin:0 auto;min-width:1000px;text-align: center;">
                <h4>total blocksize oneday</h4>
            </div>
        </div>
        <div class="row">
            <div id="chart3" style="width: 80%;height:300px; margin:0 auto;min-width:1000px"></div>
            <div style="width: 80%; margin:0 auto;min-width:1000px;text-align: center;">
                <h4>total transcation oneday</h4>
            </div>
        </div>

    </div>

    <script>
        
        
    </script>

{{template "footer"}}

</body>

</html>
{{ end }}
