{{define "hashrate"}}
<!DOCTYPE html>
<html lang="en">

{{template "html-head" "block size"}}
<body>
    {{template "navbar"}}

    <div class="container">
        <div class="row">
            <div id="chart1" style="width: 80%;height:300px; margin:0 auto;min-width:1000px"></div>
            <div  style="color:#262626; font-size: 16px;text-align: center;width: 100%;min-width: 1000px;"> NetWork Hash Rate </div>
        </div>

    </div>

    <script>
         // Average blocksize 
        $.ajax({
            url: "/explorer/hashratejson",
            data:{},
            type: "GET",
            dataType:'json',
            success:function(result){
                var globals =result;
                var chart1 = echarts.init(document.getElementById('chart1'));
                // 指定图表的配置项和数据
                var option1 = {
                    title: {
                        text: '',
                        x:'center'
                    },
                    tooltip : {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            label: {
                                backgroundColor: '#6a7985'
                            }
                        }
                    },
                    grid: {
                        y: 20,
                        x2: 0,
                        y2: 20
                    },
                    xAxis: {
                        data: globals['date'],
                        axisLine: {            // 坐标轴线
                            show: true,        // 默认显示，属性show控制显示与否
                            lineStyle: {       // 属性lineStyle控制线条样式
                                color: '#AAAAAA',
                                width: 1,
                            }
                        },
                        axisTick:{
                            show: true,
                            lineStyle: {
                                color: '#DDDDDD',
                                width: 1,
                            }
                        },
                        axisLabel:{
                            margin:6,
                            textStyle:{
                                color:'#888888',
                                fontSize:'12px',
                            }
                        },
                        splitLine:{
                            lineStyle: {       // 属性lineStyle控制线条样式
                                color: '#DDDDDD',
                                width: 1,
                            }
                        }
                    },
                    yAxis: {
                        type : 'value',
                        axisLine: {            // 坐标轴线
                            lineStyle: {       // 属性lineStyle控制线条样式
                                color: '#AAAAAA',
                                width: 1,
                            }
                        },
                        axisTick:{
                            show: true,
                            lineStyle: {
                                color: '#DDDDDD',
                                width: 1,
                            }
                        },
                        axisLabel:{
                            margin:7,
                            textStyle:{
                                color:'#888888',
                                fontSize:'12px',
                            }
                        },
                        splitLine:{
                            lineStyle: {       // 属性lineStyle控制线条样式
                                color: '#DDDDDD',
                                width: 1,
                            }
                        }
                    },
                   
                    series: [{
                        name: 'hashrate of hc network',
                        type: 'line',
                        data: globals['hash_rate'],
                        itemStyle:{
                            normal:{
                                color:'#7799bb',
                                lineStyle:{
                                    color:'#7799bb',
                                    width:2
                                },
                            },

                        }
                    }],
                };

                chart1.setOption(option1);
            },
            error:function(err){
                console.log(err)
            }
        })        
    </script>

{{template "footer"}}

</body>

</html>
{{ end }}
