{{define "instant"}}
<!DOCTYPE html>
{{with .Data}}
<html lang="en">
{{template "html-head" printf "AI transaction"}}
<body>
    {{template "navbar"}}
    <div class="container AI">

        <div class="row justify-content-between">
            <div class="col-md-7 col-sm-6">
                <h4 class="mb-2">
                    Block #{{.CurrentHeight}}
                    <a class="fs12" href="/api/block/{{.CurrentHeight}}/verbose?indent=true" data-turbolinks="false">api</a>
                </h4>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-md-7 col-sm-6 d-flex">
                <table class="">
                    <tr>
                        <td class="text-right pr-2 lh1rem vam nowrap xs-w117">Total Unconfirm AI Transaction</td>
                        <td>
                            <span class="hash break-word  lh1rem">{{.LPoolTxNum}}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>



        <div class="row">
            <span class="anchor" id="transactions"></span>
            <div class="col-sm-6" id="unconfirmedtx">
                <h4><span>AI Transactions:Wait for Confirm</span></h4>
                <div class="table-parent">
                    <table class="table table-sm striped">
                        <thead>
                            <th>Transaction ID</th>
                        </thead>
                        <tbody>
                            {{range .LPoolTx}}
                            <tr class="{{.TxId}}">
                                <td class="break-word">
                                    <span>
                                        <a class="hash" href="/explorer/tx/{{.TxId}}">{{.TxId}}</a>
                                    </span>
                                </td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-sm-6" id="confirmedtx">
                <h4><span>AI Transactions:Wait For Mining</span></h4>
                <div class="table-parent">
                    <table class="table table-sm striped">
                        <thead>
                            <th>Transaction ID</th>
                        </thead>
                        <tbody>
                            {{range .MPoolTx}}
                            <tr>
                                <td class="break-word">
                                    <span>
                                        <a class="hash" href="/explorer/tx/{{.TxId}}">{{.TxId}}</a>
                                    </span>
                                </td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{{/*        <div class="row">*/}}
{{/*            <span class="anchor" id="transactions"></span>*/}}
{{/*            <div class="col-sm-12" id="nodeLockPool">*/}}
{{/*                <h4><span>AI Transactions Lock Pool</span></h4>*/}}
{{/*                <div class="table-parent">*/}}
{{/*                    <table class="table table-sm striped">*/}}
{{/*                        <thead>*/}}
{{/*                            <th>Transaction ID</th>*/}}
{{/*                            <th class="text-right">Add Height</th>*/}}
{{/*                            <th class="text-right">Mine  Height</th>*/}}
{{/*                            <th class="text-right">Vote Number</th>*/}}

{{/*                        </thead>*/}}
{{/*                        <tbody>*/}}
{{/*                            {{range .AiTxInLockPool}}*/}}
{{/*                            <tr class="{{.TxID}}">*/}}
{{/*                                <td class="break-word">*/}}
{{/*                                    <span>*/}}
{{/*                                        <a class="hash" href="/explorer/tx/{{.TxID}}">{{.TxID}}</a>*/}}
{{/*                                    </span>*/}}
{{/*                                </td>*/}}
{{/*                                <td class="mono fs15 text-right">{{.AddHeight}}</td>*/}}
{{/*                                <td class="mono fs15 text-right">{{.AddHeight}}</td>*/}}
{{/*                                <td class="mono fs15 text-right">{{.MineHeight}}</td>*/}}
{{/*                            </tr>*/}}
{{/*                            {{end}}*/}}
{{/*                        </tbody>*/}}
{{/*                    </table>*/}}
{{/*                </div>*/}}
{{/*            </div>*/}}
{{/*        </div>*/}}





    </div>
</div>

{{template "footer"}}

</body>
{{end}}
</html>
{{ end }}
