{{define "opreturn"}}
<!DOCTYPE html>
<html lang="en">

{{template "html-head" "OP_RETURN"}}
<body>
    {{template "navbar"}}
    <div class="container">
                <div >
                    <div >
                        <div id="opListCount" style="width: 80%;height:300px; margin:0 auto;min-width:1000px"></div>
                        <div  style="color:#262626; font-size: 16px;margin-top:-25px;text-align: center;min-width: 1000px;"> Address Distribution </div>
                    </div>
                </div>


        <div class="row">

    <div class="d-flex flex-wrap align-items-center justify-content-end mb-1" style="width:100%;padding-right: 15px;">
                
                    <div div class="d-flex flex-wrap-reverse align-items-center justify-content-end">
                        <span class="fs12 nowrap text-right">total count {{intComma (.ToCount)}} &mdash; </span>
                        <nav aria-label="address transactions navigation" data-limit="{{.Limit}}" class="ml-2">
                            <ul class="pagination mb-0 pagination-sm">
                                <li class="page-item {{if eq .Offset 0}}disabled{{end}}">
                                    <a
                                        class="page-link"
                                        href="{{.Path}}?n={{.Limit}}&start={{if gt (subtract .Offset .Limit) 0}}{{subtract .Offset .Limit}}{{else}}0{{end}}"
                                        id="prev"
                                    >Previous</a>
                                </li>
                                <li class="page-item {{if lt (subtract .ToCount .Offset) (add .Limit 1)}}disabled{{end}}">
                                    <a
                                        class="page-link"
                                        href="{{.Path}}?n={{.Limit}}&start={{add .Offset .Limit}}"
                                        id="next">
                                        Next
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                   
                </div>

            <div class="col-md-12">
                <div class="table-parent">
                    <table class="table striped table-responsive" >
                        <thead>
                            <tr>
                                <th>Transaction</th>
                                <th><span class="d-none d-md-inline">Message</span> </th>
                                <th> <span >Message Type</span></th>
                            </tr>
                        </thead>
                        <tbody>
                        {{range .ListData}}
                            <tr id="{{ .Transaction }}">
                                <td><a href="/explorer/tx/{{.Transaction}}" class="fs18 height">{{ .Transaction }}</a></td>
                                <td>{{.Message}}</td>
                                 <td>{{.MessageType}}</td>
                            </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </div>


                  <div
                    id="pagesize-wrapper" style="width:100%;padding-right: 15px;"
                    class="hidden d-flex align-items-center justify-content-end">
                    <label class="mb-0 mr-1" for="pagesize">Page size</label>
                    <select
                        name="pagesize"
                        id="pagesize"
                        class="form-control-sm mb-2 mr-sm-2 mb-sm-0">
                        <option {{if eq .Limit 10}}selected{{end}} value="20">20</option>
                        <option {{if eq .Limit 100}}selected{{end}} value="100">100</option>
                        <option {{if eq .Limit 1000}}selected{{end}} value="1000">1000</option>
                    </select>
                </div>
        </div>
    </div>

    <script>
        $("#pagesize-wrapper").removeClass("hidden")
        $("#pagesize").change(function(ev) {
            Turbolinks.visit(
                window.location.pathname
                + '?n='+ parseInt($(ev.currentTarget).val())
                + "&start=" + {{.Offset}}
            )
        })
    </script>

{{template "footer"}}

</body>


<script>
$(function(){

                 var globals ={{ .ChartData }};

 var richListCount = echarts.init(document.getElementById('opListCount'));

                    // 指定图表的配置项和数据
                    var option1= {
                        tooltip : {
                            trigger: 'axis',
                            formatter: '<table style="text-align: right">' +
                                '<tr><td colspan="3" style="text-align: center">{b0}</td></tr>' +
                                '<tr><td>{a0}&nbsp;:&nbsp;</td><td style="text-align: left"> {c0}</td></tr></table>'
                        },
                        toolbox: {
                            show : false
                        },
                        calculable : true,
                        legend: {
                            data:['',''],
                        },
                        xAxis : {
                                type : 'category',
                                data : globals.OpReturnType,
                                axisLine: {            // 坐标轴线
                                    show: true,        // 默认显示，属性show控制显示与否
                                    lineStyle: {       // 属性lineStyle控制线条样式
                                        color: '#AAA',
                                        width: 1,
                                    }
                                },
                                axisLabel:{
                                    textStyle:{
                                        color:'#AAA',
                                        fontSize:'12px',
                                    }
                                },
                                axisTick:{
                                    show: true,
                                    lineStyle: {
                                        color: '#DDDDDD',
                                        width: 1,
                                    }
                                },
                                splitLine:{
                                    lineStyle: {       // 属性lineStyle控制线条样式
                                        color: '#DDD',
                                        width: 1,
                                    }
                                }
                                
                            },
                        yAxis : [
                            {
                                type : 'value',
                                name : 'Count',
                                axisLine: {            // 坐标轴线
                                    show: true,        // 默认显示，属性show控制显示与否
                                    lineStyle: {       // 属性lineStyle控制线条样式
                                        color: '#AAA',
                                        width: 1,
                                    }
                                },
                                axisLabel : {
                                    formatter: '{value}',
                                    textStyle:{
                                        color:'#AAA',
                                        fontSize:'12px',
                                    }
                                },
                                axisTick:{
                                    show: true,
                                    lineStyle: {
                                        color: '#DDDDDD',
                                        width: 1,
                                    }
                                },
                                splitLine:{
                                    lineStyle: {       // 属性lineStyle控制线条样式
                                        color: '#DDD',
                                        width: 1,

                                    }
                                }

                            }
                            
                        ],
                        series : [{
                                name:'Count',
                                type:'bar',
                                data:globals.OpReturnCount,
                                itemStyle:{
                                    normal:{
                                        color:'#529BD7'
                                    },

                                }
                            }
                           
                        ]
                    };


                    // 使用刚指定的配置项和数据显示图表。
                    richListCount.setOption(option1);
                
              }
             
);
</script>

</html>
{{ end }}